In [1]:
### While Loop

In [2]:
i = 0
while i<10:
  print("The value of i is {}".format(i))
  i = i+1     # i += 1

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [ ]:
while True:
  print("Infinite Loop")

In [4]:
i = 0
while i<10:
  print("The value of i is {}".format(i),end=" ")
  i = i+1     # i += 1

The value of i is 0 The value of i is 1 The value of i is 2 The value of i is 3 The value of i is 4 The value of i is 5 The value of i is 6 The value of i is 7 The value of i is 8 The value of i is 9

In [5]:
### for loop

In [ ]:
for i in range(10):
  print("The value of i is {}".format(i))

In [ ]:
for i in range(10,30):
  print("The value of i is {}".format(i))

In [8]:
for i in range(10,30,3):
  print("The value of i is {}".format(i))

The value of i is 10
The value of i is 13
The value of i is 16
The value of i is 19
The value of i is 22
The value of i is 25
The value of i is 28

In [3]:
subjects = ["Hindi","Maths","English","EVS","Science"]
i = 0
while i<len(subjects):
  print(subjects[i])
  i = i+1

Hindi
Maths
English
EVS
Science

In [5]:
subjects = ["Hindi","Maths","English","EVS","Science"]
for i in range(len(subjects)):
  print(subjects[i])

Hindi
Maths
English
EVS
Science

In [6]:
## for each loop
subjects = ["Hindi","Maths","English","EVS","Science"]
for i in subjects:
  print(i)

Hindi
Maths
English
EVS
Science

In [7]:
for i in "Umang":
  print(i)

U
m
a
n
g