Types of Functions
*   Function without parameters/argument
*   Function with parameters
*   Function with default parameters
*   Function with return value

In [1]:
### Function without parameters

In [4]:
def myFunction():
  print("This is my function")

In [6]:
myFunction()
myFunction()
myFunction()

This is my function
This is my function
This is my function

In [7]:
## Function with parameters

In [8]:
def add_two_num(a,b):
  sum = a+b
  print("The sum is {}".format(sum))

In [10]:
add_two_num(20,30)

The sum is 50

In [11]:
add_two_num(20.5,30)

The sum is 50.5

In [12]:
def div_two_num(a,b):
  result = a/b
  print("The result is {}".format(result))

In [13]:
div_two_num(10,2)

The result is 5.0

In [14]:
div_two_num(2,10)

The result is 0.2

In [15]:
div_two_num(b=2,a=10)

The result is 5.0

In [16]:
## Function with default parameters

In [19]:
def calculator(a,b,op="+"):
  if op == "+":
    print(a+b)
  elif op == "-":
    print(a-b)
  elif op == "/":
    print(a/b)
  elif op == "*":
    print(a*b)
  else:
    print("Invalid Operation")

In [20]:
calculator(10,20,"*")

200

In [21]:
calculator(10,20)

30

In [22]:
def calculator(a=10,b=50,op="+"):
  if op == "+":
    print(a+b)
  elif op == "-":
    print(a-b)
  elif op == "/":
    print(a/b)
  elif op == "*":
    print(a*b)
  else:
    print("Invalid Operation")

In [23]:
calculator()

60

In [24]:
calculator(op="i")

Invalid Operation

In [25]:
### Function with return value

In [26]:
def calculator(a,b,op="+"):
  if op == "+":
    print(a+b)
  elif op == "-":
    print(a-b)
  elif op == "/":
    print(a/b)
  elif op == "*":
    print(a*b)
  else:
    print("Invalid Operation")

In [27]:
result = calculator(10,20)

30

In [28]:
print(result)

None

In [30]:
def calculator(a,b,op="+"):
  if op == "+":
    return(a+b)
  elif op == "-":
    return(a-b)
  elif op == "/":
    return(a/b)
  elif op == "*":
    return(a*b)
  else:
    return("Invalid Operation")

In [31]:
result = calculator(10,20)

In [32]:
print(result)

30