In [ ]:
2 + 3

5

In [ ]:
2 - 3

-1

In [ ]:
3/9

0.3333333333333333

In [ ]:
a = 10
b = 20.5
c = "Umang"
d = 'Python'
e = 45 + 7j
f = True

In [ ]:
print("Hello")

Hello

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [ ]:
a1 = float(10)
print(type(a1))

<class 'float'>

Datatype in Python
1. Primitive Datatype- int, float, complex, bool, string
2. Core Datatype - list, tuple, dictionary, array, sets

In [ ]:
### List - Group of heterogenous data which is mutable (can be changed)

In [ ]:
subjects = ["Maths","Science","English"]
lst1 = [10,20.5,"Python",True,[3,4,5]]

In [ ]:
print(subjects)

['Maths', 'Science', 'English']

In [ ]:
print(lst1)

[10, 20.5, 'Python', True, [3, 4, 5]]

In [ ]:
subjects = ["Maths","Science","English","Hindi","SST","Drawing","EVS"]
print(subjects)

['Maths', 'Science', 'English', 'Hindi', 'SST', 'Drawing', 'EVS']

In [ ]:
len(subjects)

7

In [ ]:
subjects[6]

'EVS'

In [ ]:
subjects[3]

'Hindi'

In [ ]:
subjects[:]

['Maths', 'Science', 'English', 'Hindi', 'SST', 'Drawing', 'EVS']

In [ ]:
subjects[1:5]   ## 1 - 4

['Science', 'English', 'Hindi', 'SST']

In [ ]:
subjects[2:]

['English', 'Hindi', 'SST', 'Drawing', 'EVS']

In [ ]:
### add item to list
subjects.append("XYZ")

In [ ]:
subjects

['Maths', 'Science', 'English', 'Hindi', 'SST', 'Drawing', 'EVS', 'XYZ']

In [ ]:
subjects.insert(4,"ABC")

In [ ]:
subjects

['Maths', 'Science', 'English', 'Hindi', 'ABC', 'SST', 'Drawing', 'EVS', 'XYZ']

In [ ]:
subjects[4] = "QWERTY"

In [ ]:
print(subjects)

['Maths', 'Science', 'English', 'Hindi', 'QWERTY', 'SST', 'Drawing', 'EVS', 'XYZ']

In [ ]:
subjects.remove("XYZ")   ## remove any item

In [ ]:
print(subjects)

['Maths', 'Science', 'English', 'Hindi', 'QWERTY', 'SST', 'Drawing', 'EVS']

In [ ]:
subjects.pop(2)

'English'

In [ ]:
print(subjects)

['Maths', 'Science', 'Hindi', 'QWERTY', 'SST', 'Drawing', 'EVS']

In [ ]:
### Tuple - Same like list but it is immutable

In [ ]:
subjects_t = ("Maths","Science","English","Hindi","SST","Drawing","EVS")
print(subjects_t)

('Maths', 'Science', 'English', 'Hindi', 'SST', 'Drawing', 'EVS')

In [ ]:
type(subjects_t)

tuple

In [ ]:
### Dictionary - Stores the data in the form of key-value pairs (no index)

In [ ]:
student = {"name":"rohit","roll":2,"marks":{"maths":100,"science":95}}
print(student)

{'name': 'rohit', 'roll': 2, 'marks': {'maths': 100, 'science': 95}}

In [ ]:
print(student['name'])

rohit

In [ ]:
print(student['marks']['science'])

95

In [ ]:
student['gender'] = "male"
print(student)

{'name': 'rohit', 'roll': 2, 'marks': {'maths': 100, 'science': 95}, 'gender': 'male'}

In [ ]:
student['gender'] = "female"
print(student)

{'name': 'rohit', 'roll': 2, 'marks': {'maths': 100, 'science': 95}, 'gender': 'female'}

In [ ]:
student['Gender'] = "female"
print(student)

{'name': 'rohit', 'roll': 2, 'marks': {'maths': 100, 'science': 95}, 'gender': 'female', 'Gender': 'female'}

In [ ]:
del(student['Gender'])

In [ ]:
student

{'name': 'rohit',
 'roll': 2,
 'marks': {'maths': 100, 'science': 95},
 'gender': 'female'}

In [ ]:
student['Gender'] = ["female","male"]
print(student)

{'name': 'rohit', 'roll': 2, 'marks': {'maths': 100, 'science': 95}, 'gender': 'female', 'Gender': ['female', 'male']}

In [ ]:
del(student['marks']['science'])

In [ ]:
student

{'name': 'rohit',
 'roll': 2,
 'marks': {'maths': 100},
 'gender': 'female',
 'Gender': ['female', 'male']}

In [ ]:
student['marks']["science"] = 90

In [ ]:
student

{'name': 'rohit',
 'roll': 2,
 'marks': {'maths': 100, 'science': 90},
 'gender': 'female',
 'Gender': ['female', 'male']}

In [ ]:
## set - unique data

In [ ]:
ab = {5,3,5,6,4,45,34,5,453,43,5}
print(ab)

{34, 3, 4, 5, 6, 453, 43, 45}

In [ ]:
str1 = "We are learning Python by Edulakes Solutions in association with NSS IIT Roorkee"
print(str1)

We are learning Python by Edulakes Solutions in association with NSS IIT Roorkee

In [ ]:
len(str1)

80

In [ ]:
str1[4:50]

're learning Python by Edulakes Solutions in as'

In [ ]:
print(str1)
print(str1.capitalize())
print(str1.lower())
print(str1.upper())
print(str1.title())
print(str1.swapcase())

We are learning Python by Edulakes Solutions in association with NSS IIT Roorkee
We are learning python by edulakes solutions in association with nss iit roorkee
we are learning python by edulakes solutions in association with nss iit roorkee
WE ARE LEARNING PYTHON BY EDULAKES SOLUTIONS IN ASSOCIATION WITH NSS IIT ROORKEE
We Are Learning Python By Edulakes Solutions In Association With Nss Iit Roorkee
wE ARE LEARNING pYTHON BY eDULAKES sOLUTIONS IN ASSOCIATION WITH nss iit rOORKEE

In [ ]:
#str1 = str1.lower()

In [ ]:
print(str1.count("a"))

5

In [ ]:
print(str1.count("are"))

1

In [ ]:
print(str1.find("Python"))

16

In [ ]:
print(str1.find("Umang"))

-1

In [ ]:
print(str1.index("Python"))

16

In [ ]:
print(str1.index("Umang"))

ValueError: ignored

In [ ]:
### Input Function and Format Function

In [ ]:
first_name = input("Enter First Name:")
last_name = input("Enter Last Name:")
age = input("Enter Age:")
print(first_name + " " + last_name + " " + age)

Enter First Name:Umang
Enter Last Name:Kejriwal
Enter Age:32
Umang Kejriwal 32

In [ ]:
a1 = int(input("Enter First Number:"))
a2 = int(input("Enter sencond Number:"))
sum = a1 + a2
print("the sum is "+ str(sum))

Enter First Number:30
Enter sencond Number:20
the sum is 50

In [ ]:
a1 = int(input("Enter First Number:"))
a2 = int(input("Enter sencond Number:"))
sum = a1 + a2
print("the sum is {}".format(sum))

Enter First Number:2
Enter sencond Number:3
the sum is 5

In [ ]:
first_name = input("Enter First Name:")
last_name = input("Enter Last Name:")
age = input("Enter Age:")
print("The name is {} {} and age is {}".format(first_name,last_name,age))

Enter First Name:umang
Enter Last Name:kejriwal
Enter Age:32
The name is umang kejriwal and age is 32

In [ ]:
first_name = input("Enter First Name:")
last_name = input("Enter Last Name:")
age = input("Enter Age:")
print("The name is {a} {b} and age is {c}".format(c=age,a=first_name,b=last_name))

Enter First Name:umang
Enter Last Name:kejriwal
Enter Age:32
The name is umang kejriwal and age is 32

In [ ]:
10/2

5.0

In [ ]:
10%3

1

In [ ]:
### Conditional Statement in Python

In [ ]:
a1 = int(input("Enter number:"))
if a1 % 2 == 0:
  print("Even Number")
else:
  print("Odd Number")

Enter number:3
Odd Number

In [ ]:
a1 = int(input("Enter number:"))
if a1 > 0:
  print("Positive Number")
elif a1 < 0:
  print("Negative Number")
else:
  print("Its a zero")

Enter number:-2
Negative Number

In [ ]:
### Short Hand If else - single line if else

In [ ]:
a1 = int(input("Enter number:"))
print("Even Number") if a1%2 == 0 else print("Odd Number")

Enter number:3
Odd Number

In [ ]:
a1 = int(input("Enter number:"))
print("Positive Number") if a1>0 else print("Negative Number") if a1<0 else print("Zero")

Enter number:-2
Negative Number