**Operators**

* Arthmetic

In [ ]:
a = 17
b = 5

print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a ** b)
print(a % b)
print(a // b)

22
12
3.4
85
1419857
2
3

* Comparasion

In [ ]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

* Logical Operator

In [ ]:
a = 16
b = 9

print(a > 10 and b > 10)

False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(a > 10 or b > 10)

True

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

* Assignment Operator

In [ ]:
a = 9
print(a)

9

In [ ]:
a += 2
print(a)

11

In [ ]:
a -= 5
print(a)

6

In [ ]:
a *= 2
print(a)

12

In [ ]:
a /= 3
print(a)

4.0

In [ ]:
a **= 2
print(a)

16.0

**Conditional Programming**

In [ ]:
age = 19

if age >= 18:
  print('You are eligible to Vote')
else:
  print('You are not eligible to vote')

You are eligible to Vote

In [ ]:
age = int(input('Enter your age'))    #by default user inputs are in string form => to convert into integer use typecasting

if age >= 18:
  print('You are eligible to Vote')
else:
  print('You are not eligible to vote')

Enter your age17
You are not eligible to vote

In [ ]:
#Create a login activity
#if userid == 'abcde' and password == '12345' => Login sucesssfull else => incorrect creds..

userid = input('Enter user Id')
userpass = input('Enter user Password')

if userid == 'abcde' and userpass == '12345':
  print('Successfull Login')
else:
  print('Incorrect Crediantials')

Enter user Idabcde
Enter user Password12345
Successfull Login

In [ ]:
#fetch user id
#if user id is correct => fetch password => if password is correct => Login successfull else 'Incorrect Password'
#if user id is incorrect => "Not registered User"

userid = input('Enter user Id')

if userid == 'abcde':
  userpass = input('Enter user Password')
  if userpass == '12345':
    print('Login successfull')
  else:
    print('Incorrect Password')
else:
  print('Unregistered User')

Enter user Idabcdet
Unregistered User

**Loop**
 * for loop
 * while loop

In [ ]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(0,5):
  print(i , 'Hello World')

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
print('2 * 1 = ' , 2 * 1 )
print('2 * 2 = ' , 2 * 2 )
print('2 * 3 = ' , 2 * 3 )
print('2 * 4 = ' , 2 * 4 )
print('2 * 5 = ' , 2 * 5 )

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10

In [ ]:
for i in range(1,6):
  print('2 *', i , '=', i * 2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [ ]:
for i in range(1,6):
  print(f'2 * {i} =' , 2 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [ ]:
#break statement
for i in range(1,11):
  print(f'2 * {i} =' , 2 * i)
  if i == 7:
    break

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14

In [ ]:
#Continue Statement
for i in range(1,11):
  if i == 7:
    continue
  print(f'2 * {i} =' , 2 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

* While loop

In [ ]:
if True:
  print('Hello World')

Hello World

In [ ]:
i = 0
while i < 7:
  print(i , 'Hello World')
  i += 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World

In [ ]:
i = 0
while True:
  print(i,'Hello World')
  i += 1
  if i == 6:
    break

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [ ]:
#Create a login activity
#Which can ask user name or password again if entered value is wrong

userid = input('Enter user Id')
while userid != 'abcde':
  print('Incoreect User Id, Try again')
  userid = input('Enter user Id')
else:
  userpass = input('Enter user Password')
  while userpass != '12345':
    print('Incorrect Password, Try again')
    userpass = input('Enter user Password')
  else:
    print('login Successfull')

Enter user Idaqwrt
Incoreect User Id, Try again
Enter user Iddfghjk
Incoreect User Id, Try again
Enter user Idabcde
Enter user Passwordsdfgh
Incorrect Password, Try again
Enter user Passworddfghjk
Incorrect Password, Try again
Enter user Password12345
login Successfull

In [ ]:
cities = ['Delhi' , 'Mumbai' , 'Jaipur' , 'Hyderabaad' , 'Mysore']

print(cities[0] , len(cities[0]))
print(cities[1] , len(cities[1]))
print(cities[2] , len(cities[2]))
print(cities[3] , len(cities[3]))
print(cities[4] , len(cities[4]))

Delhi 5
Mumbai 6
Jaipur 6
Hyderabaad 10
Mysore 6

In [ ]:
for i in range(0,len(cities)):
  print(cities[i] , len(cities[i]))

Delhi 5
Mumbai 6
Jaipur 6
Hyderabaad 10
Mysore 6

In [ ]:
cities = ['Delhi' , 'Mumbai' , 'Jaipur' , 'Hyderabaad' , 'Mysore']

for val in cities:
  print(val , len(val))

Delhi 5
Mumbai 6
Jaipur 6
Hyderabaad 10
Mysore 6

**Functions**

In [ ]:
#f(x) = x + 5
#f(4) = 9
#f(3) = 8
#f(5) = 10

In [ ]:
def myfunc():
  print('Hello World!!')

In [ ]:
myfunc()
myfunc()
myfunc()

Hello World!!
Hello World!!
Hello World!!

In [ ]:
def add_five(x):        #function with a parameter
  print(x + 5)

In [ ]:
add_five(6)
add_five(3)
add_five(7)

11
8
12

In [ ]:
def dosum(x,y):
  z = x + y
  print(z)

In [ ]:
dosum(6,3)
dosum(10,5)
dosum(20,2)

9
15
22

In [ ]:
print(15 * 2)

30

In [ ]:
def dosum(x,y):
  z = x + y
  return z

In [ ]:
print(dosum(10,5) * 2)
print(dosum(4,2) * 2)
print(dosum(3,7) * 2)

30
12
20

* lambda function

In [ ]:
#lambda function to add two numbers
addnums = lambda x,y : x + y

print(addnums(5,3))
print(addnums(2,1))
print(addnums(9,2))

8
3
11

In [ ]:
#lambda function to get product of two nums

prod = lambda x,y : x*y

print(prod(4,3))
print(prod(5,2))

12
10

In [ ]:
login = lambda u,p : 'Successfull login' if u == 'abcde' and p == '12345' else 'Unsuccessfull login'

In [ ]:
userid = input('Enter user Id')
userpass = input('Enter user Password')

login(userid,userpass)

Enter user Idasdfgh
Enter user Passworddfghj

'Unsuccessfull login'

In [ ]:
#function to check even

def check_even_odd(x):
  if x % 2 == 0:
    return 'Even'
  else:
    return 'Odd'

In [ ]:
print(check_even_odd(8))
print(check_even_odd(9))

Even
Odd

In [ ]:
#create a lambda function to check a user enter number is even or odd

check_eo = lambda x : 'Even' if x % 2 == 0 else 'Odd'

In [ ]:
print(check_eo(12))
print(check_eo(17))
print(check_eo(18))

Even
Odd
Even

In [ ]:
def table(x):
  table_x = []
  for i in range(1,11):
    table_x.append(i * x)
  return table_x

In [ ]:
print(table(7))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
mytable = lambda x : [i * x for i in range(1,11)]

mytable(9)

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
#create a lamda function to check frequency
#if frequency < 10 => 'low freq' if freq < 20 => 'Medium freq' else => 'High freq'

check_freq = lambda freq : 'low freq' if freq < 10 else 'Medium Freq' if freq < 20 else 'High Freq'

print(check_freq(23))
print(check_freq(15))
print(check_freq(7))

High Freq
Medium Freq
low freq