In [ ]:
print('Hello World')

Hello World

**Topics for Basic Python**
* Variables and Values
* Data Types
* Operators
* Conditional Programming - If-else
* Loop - For loop, While loop
* Functions
* File Handling & Exception Handling

**Libraries for Data Science & ML**
* Numpy
* Pandas
* Matplotlib
* Seaborn
* pickle
* json

In [ ]:
#variable - stores a value

a = 3
name = "Bipul"
salary = 35000.34

In [ ]:
print(a * 2)
print(a + 5)
print(a * 5)
print(a - 6)

6
8
15
-3

**Data Types**

In [ ]:
print(type(a))
print(type(name))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

**List**

In [ ]:
cities = ['Delhi' , 'Mumbai' , 'Jaipur' , 'Hyderabaad' , 'Mysore']
print(cities)

['Delhi', 'Mumbai', 'Jaipur', 'Hyderabaad', 'Mysore']

In [ ]:
print(type(cities))

<class 'list'>

In [ ]:
print(cities[0])
print(cities[2])

Delhi
Jaipur

In [ ]:
print(cities)
cities[2] = 'Udaipur'
print(cities)

['Delhi', 'Mumbai', 'Jaipur', 'Hyderabaad', 'Mysore']
['Delhi', 'Mumbai', 'Udaipur', 'Hyderabaad', 'Mysore']

In [ ]:
#Adding a new entity  => append()
print(cities)
cities.append('Banglore')
print(cities)

['Delhi', 'Mumbai', 'Udaipur', 'Hyderabaad', 'Mysore']
['Delhi', 'Mumbai', 'Udaipur', 'Hyderabaad', 'Mysore', 'Banglore']

In [ ]:
#Adding a new entity at a defined index => index 3 => insert()

print(cities)
cities.insert(3 , 'Mohali')
print(cities)

['Delhi', 'Mumbai', 'Udaipur', 'Hyderabaad', 'Mysore', 'Banglore']
['Delhi', 'Mumbai', 'Udaipur', 'Mohali', 'Hyderabaad', 'Mysore', 'Banglore']

In [ ]:
#remove a value => remove()

print(cities)
cities.remove('Mumbai')
print(cities)

['Delhi', 'Mumbai', 'Udaipur', 'Mohali', 'Hyderabaad', 'Mysore', 'Banglore']
['Delhi', 'Udaipur', 'Mohali', 'Hyderabaad', 'Mysore', 'Banglore']

In [ ]:
#remove a value using index or address of a value => pop()

print(cities)
cities.pop(2)
print(cities)

['Delhi', 'Udaipur', 'Mohali', 'Hyderabaad', 'Mysore', 'Banglore']
['Delhi', 'Udaipur', 'Hyderabaad', 'Mysore', 'Banglore']

In [ ]:
print(cities)
print(len(cities))

['Delhi', 'Udaipur', 'Hyderabaad', 'Mysore', 'Banglore']
5

**Tuple**

In [ ]:
employee = ('Amit' , 'Varun' , 'Jay' , 'John' , 'Jerry')
print(employee)

('Amit', 'Varun', 'Jay', 'John', 'Jerry')

In [ ]:
print(type(employee))

<class 'tuple'>

In [ ]:
print(employee[1])

Varun

In [ ]:
employee[1] = 'Vijay'

TypeError: ignored

**Dictionary**

In [ ]:
emp = {'name' : 'Varun' , 'age' : 38 , 'salary' : 439087}
print(emp)

{'name': 'Varun', 'age': 38, 'salary': 439087}

In [ ]:
print(type(emp))

<class 'dict'>

In [ ]:
print(emp.keys())
print(emp.values())

dict_keys(['name', 'age', 'salary'])
dict_values(['Varun', 38, 439087])

In [ ]:
print(emp['name'])
print(emp['age'])

Varun
38

In [ ]:
emp['email'] = 'varun@hello.com'
print(emp)

{'name': 'Varun', 'age': 38, 'salary': 439087, 'email': 'varun@hello.com'}

In [ ]:
emp['salary'] = 554958
print(emp)

{'name': 'Varun', 'age': 38, 'salary': 554958, 'email': 'varun@hello.com'}

In [ ]:
del(emp['age'])
print(emp)

{'name': 'Varun', 'salary': 554958, 'email': 'varun@hello.com'}

**Sets**

In [ ]:
employee = {'Amit' , 'Varun' , 'Jay' , 'John' , 'Jerry' , 'Amit' , 'Jay'}
print(employee)

{'Jay', 'John', 'Jerry', 'Amit', 'Varun'}

In [ ]:
employee_list = ['Amit' , 'Varun' , 'Jay' , 'John' , 'Jerry' , 'Amit' , 'Jay']
print(employee_list)

['Amit', 'Varun', 'Jay', 'John', 'Jerry', 'Amit', 'Jay']

In [ ]:
employee_tuple = ('Amit' , 'Varun' , 'Jay' , 'John' , 'Jerry' , 'Amit' , 'Jay')
print(employee_tuple)

('Amit', 'Varun', 'Jay', 'John', 'Jerry', 'Amit', 'Jay')